In [7]:
import pandas as pd

In [8]:
pd.DataFrame

pandas.core.frame.DataFrame

In [9]:
candy_list= [{'orange':15, 'nut':21, 'chocolate':9}, {'orange':18, 'nut':6, 'chocolate':20}, {'orange':12, 'nut':10, 'chocolate':25}]

In [12]:
stock_df= pd.DataFrame(candy_list)

In [13]:
stock_df

   orange  nut  chocolate
0      15   21          9
1      18    6         20
2      12   10         25

In [14]:
stock_df.head(2)

   orange  nut  chocolate
0      15   21          9
1      18    6         20

In [15]:
stock_df.tail(1)

   orange  nut  chocolate
2      12   10         25

In [16]:
stock_df.columns

Index(['orange', 'nut', 'chocolate'], dtype='object')

In [21]:
stock_df.iloc[0]

orange       15
nut          21
chocolate     9
Name: 0, dtype: int64

In [26]:
stock_df.loc[:,'orange']

0    15
1    18
2    12
Name: orange, dtype: int64

In [25]:
stock_df.to_csv('candy list.csv', index=False)

[link](https://www.freecodecamp.org/news/dataframe-to-csv-how-to-save-pandas-dataframes-by-exporting/#:~:text=DataFrame(Biodata)%20%3A%20This%20creates,a%20CSV%20file%20named%20Biodata.)


**Answer:** 

In my view and based on the premise of the focus chapter, I believe that dynamic and interactive data visualizations are effective in communicating data because : 

1. "Humans are intensely visual creatures," indicating that visual representations are grasped more quickly than other forms of data representation. This efficiency saves time and resources when conveying information.

2. It serves as a powerful tool for storytelling to a broader audience.

3. I believe both human emotion and logic are involved in understanding any given dataset. The colors, patterns, and information provided in visuals sparks curiosity in the human mind and helps draw attention and engage the human mind effectively. 

4. The power of computation or using code to interpret and compress datasets into visual designs helps make the process more efficient and faster than manually mapping data by hand.

5. Following the mantra of "overview first, zoom and filter, then details-on-demand", dynamic, interactive visualizations allows : 
* Freedom to play and explore data on their own terms.
* Derive the information they need based on personal/customized requirements.
* Meets the needs of a wide variety of users.

6. Interactive data visualization promotes focused engagement with data, surpassing the limitations of static images.